.header {
	background-image: url('../img/background/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 7.5rem;
	position: relative;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		padding-bottom: 7.875rem;
	}
}

.header::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(37, 43, 73, 0.55);
	position: absolute;
	top: 0;
	left: 0;
}
.header-wrapper {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		max-width: 100%;
	}
}

.header-inner {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(186, 187, 197, 1);
	margin-bottom: 8.065625rem;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 100%;
		margin-bottom: 9.8125rem;
	}
}
.header-logo {
	width: 14.4375rem;
	height: 6.25rem;
}
.header-logo__item {
	width: 100%;
	height: 100%;
}

.header-navigation {
	width: 58.79%;
	display: flex;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		max-width: 35.375rem;
		height: 3.9375rem;
		padding-top: 2.25rem;
	}
}
.header-navigation-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 100%;
		height: 1.75rem;
	}
}
.header-navigation-list__item {
	width: 8.375rem;
	display: flex;
	align-items: center;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 7rem;
		height: 1.75rem;
		justify-content: center;
	}
}
.header-navigation-list__item a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 0.8125rem;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		font-size: 0.75rem;
		line-height: 1.75rem;
	}
}
.header-title {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 4rem;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.964375rem;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 100%;
		font-size: 3rem;
		margin-bottom: 3.86625rem;
	}
}
.header-title-text {
	width: 100%;
	margin-bottom: 4.973125rem;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 100%;
		margin-bottom: 5.57125rem;
	}
}
.header-title-text__item {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		font-size: 1.125rem;
	}
}
.header-link {
	width: 23.125rem;
	height: 5rem;
	background-color: rgba(255, 67, 67, 1);
	margin: auto;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		width: 19.625rem;
		height: 5rem;
	}
}
.header-link__item {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 1);
	line-height: 5rem;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}
