@import '../scss/_var.scss';
@import '../scss/_mixins.scss';
@import '../scss/cdn.scss';
@import '../scss/header.scss';
@import '../scss/header-hamburger.scss';
@import '../scss/features.scss';
@import '../scss/work.scss';
@import '../scss/our-team.scss';
@import '../scss/testimonials.scss';
@import '../scss/download.scss';
@import '../scss/contacts.scss';
@import '../scss/footer.scss';

html {
	font-family: 'Raleway', 'Cardo', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
.container {
	max-width: 73.125rem;
	padding: 0 15px;
	margin: auto;
	position: relative;
	z-index: 10;
	@media screen and (min-width: 1023.9px) and (max-width: 1169.9px) {
		max-width: 61.5rem;
		padding: 0;
	}
	@media screen and (min-width: 319.9px) and (max-width: 1023.9px) {
		max-width: 17.5rem;
		padding: 0;
	}
}
